<div id="<%= dom_id order %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Customer email:</strong>
    <%= order.customer_email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Fulfilled:</strong>
    <%= order.fulfilled? ? "Yes" : "No" %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Total:</strong>
    <%= order.total %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Address:</strong>
    <%= order.address %>
  </div>
</div>
